#Used in Backend Service
DB_URL=value

#Used in Frontend Service
VITE_API_URL=http://localhost:8000


#Used in Database Service
MARIADB_ROOT_PASSWORD=12345
MARIADB_DATABASE=padini
MARIADB_USER=user
MARIADB_PASSWORD=12345
